/* .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: orange!important;
} */

.cstmBtn {
  background-color: var(--shubham)!important;
}

#menu- div:nth-child(3) {
  max-height: 70px!important;
}

.ff fieldset {
  border: none;
}

.ff svg {
  display: none;
}

.cstmBtn:hover {
  background-color: greenyellow!important;
}

.temp fieldset {
border-color: orange!important;
}

.temp label {
  color: orange!important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.stand fieldset{
  border-color: orange!important;

}
.stand label{
  color: orange!important;

}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-color: orange!important;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}